body {
    padding-top: 65px;
}

.panel {
    /*padding: 0 5px 0 5px;*/
    position: relative;
    width: 292.5px;
    height: 292.5px;
    /*margin: 5px;*/
    /*text-align: center*/
}

.panel-footer {
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    position: absolute;
    right: 0;
}

.l {
    border-right: solid black 2px;
}